<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{{ template "title" . }}</title>
</head>

<body>
  <div class="max-w-3xl mt-2 m-auto bg-gray-100">
    <nav class="bg-blue-100 flex justify-between p-1">
      <div class="flex gap-2">
        <a href="/">
          <span class="inline-block w-6 h-6 bg-blue-600 text-center text-white font-bold">T</span>
          <span class="font-semibold">IN.TUM Talks</span>
        </a>
        <div class="flex gap-1 whitespace-nowrap">
          <a href="/top">top</a>
          <span>|</span>
          <a href="/nextup">next up</a>
          <span>|</span>
          <a href="/categories">by category</a>
        </div>
      </div>
      <div class="inline-flex">
        <a href="/submit" class="hover:underline">submit</a>
      </div>
    </nav>
    {{ template "content" . }}
  </div>
</body>

</html>