{{ define "title" }}{{ if .Category }}{{ .Category }}{{ else }}Categories{{ end }} &mdash; TUM Talks{{ end }}
{{ define "content" }}
{{ if .Category }}
<div class="p-2 flex flex-col gap-2">
  {{ range .Talks }}
  <a class="flex gap-2 items-center hover:underline" href="{{ .Link }}">
    <div class="text-center">{{ .Date | humandate }}</div>
    <div class="">{{ .Title }}</div>
  </a>
  {{ end }}
</div>
{{ else }}
<div class="p-2 flex flex-wrap gap-2">
{{ range .Categories }}
<a href="/categories/{{ . }}" class="text-gray-700 hover:underline">[{{ . }}]</a>
{{ end }}
</div>
{{ end }}
{{ end }}