{{ define "title" }}IN.TUM Talks &mdash; Top talks{{ end }}
{{ define "content" }}
<div class="py-2 flex gap-2 flex-col">
  {{ range .Talks }}
  <div class="flex gap-2 items-center">
    <div class="w-6 text-right text-sm text-gray-500">{{ .Rank }}.</div>
    <div class="flex flex-col">
      <div class="">
        <a class="flex items-center hover:underline visited:text-gray-500"
           href="{{ if .Link }}{{ .Link }}{{ else }}/talk/{{ .ID }}{{ end }}">
          {{ .Title }}
        </a>
      </div>
      <div class="text-sm text-gray-500 flex items-center gap-2">
        <span>{{ .Date | humandate }}</span>
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/categories/{{ .Category }}">[{{ .Category }}]</a>
        {{ if .Body }}
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/talk/{{ .ID }}">details</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}