<html>

<head>
  <style>
    {{ .Stylesheet }}
  </style>
</head>

<body class="bg-white">
  <div class="hidden">You have been invited as an editor to TUM Events. Your account is now allowed to submit new events.</div>
  <div class="max-w-xl mx-auto mt-4">
    <h1 class="text-xl font-bold pb-2 border-b border-blue-300 flex items-center gap-2">Congratulations &mdash;
      <span class="inline-flex justify-center w-7 h-7 items-center bg-blue-600 text-white text-sm font-medium">T</span>
      <span class="font-semibold">TUM Events</span>
    </h1>
    <div class="mt-2">
    <p class="">You have been invited as an editor to <a href="https://tum.events">TUM Events</a>. Your account is now allowed to submit new events.</p>
    <p class="mt-6">Have fun!</p>
    <p class="border-t border-gray-300 pt-2 mt-2 text-sm text-gray-400">If you do not want to participate in TUM Events, please ignore this email.</p>
    <a class="text-gray-400 underline text-sm block mt-2" href="https://tum.events/legal">imprint &amp; disclaimer</a>
    </div>
  </div>
</body>

</html>