<html>

<head>
  <style>
    {{ .Stylesheet }}
  </style>
</head>

<body class="bg-white">
  <div class="max-w-xl mx-auto mt-4">
    <h1 class="text-xl font-bold pb-2 border-b border-blue-300 flex items-center gap-2">Login &mdash;
      <span class="inline-flex justify-center w-7 h-7 items-center bg-blue-600 text-white text-sm font-medium">T</span>
      <span class="font-semibold">TUM Events</span>
    </h1>
    <div class="mt-2">
    <p class="">You recently tried to login to TUM Events. To continue, please enter the login code shown below.</p>
    <p class="mt-6 tracking-widest text-lg font-mono font-bold bg-gray-900 text-gray-100 inline-block rounded px-3 py-2 shadow-sm">{{ .Code }}</p>
    <p class="mt-6">Thank you!</p>
    <p class="border-t border-gray-300 pt-2 mt-2 text-sm text-gray-400">If you did not try to login, please ignore this email.</p>
    <a class="text-gray-400 underline text-sm block mt-2" href="https://tum.events/legal">imprint &amp; disclaimer</a>
    </div>
  </div>
</body>

</html>