<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/png" href="/favicon.png">
  <title>{{ template "title" . }}</title>
</head>

<body class="max-w-5xl mx-auto sm:px-2">
  <div class="sm:mt-2 m-auto bg-gray-100">
    <nav class="bg-blue-100 flex justify-between p-1 sm:p-2">
      <div class="flex gap-2 items-center">
        <a href="/">
          <span class="inline-block w-6 h-6 bg-blue-600 text-center text-white font-bold">T</span>
        </a>
        <div class="flex flex-col sm:flex-row sm:items-center sm:gap-2">
          <a href="/">
            <span class="font-semibold sm:inline">IN.TUM Talks</span>
          </a>
          <div class="flex gap-1 whitespace-nowrap text-xs sm:text-base">
            <a href="/top">top</a>
            <span>|</span>
            <a href="/nextup">next up</a>
            <span>|</span>
            <a href="/categories">by category</a>
            <span>|</span>
            <a href="/submit">submit</a>
          </div>
        </div>
      </div>
      <div class="flex gap-1 whitespace-nowrap text-xs sm:text-base items-center">
        {{ if .Login }}
        <span>{{ .Login }}</span>
        <span>|</span>
        <form action="/logout" method="POST"><button role="submit">logout</button></form>
        {{ else }}
        <a href="/login">login</a>
        {{ end }}
      </div>
    </nav>
    {{ template "content" . }}
  </div>
  <div class="flex justify-center text-xs text-gray-400 gap-4 mt-4">
    <a href="/legal" class="hover:underline">
      disclaimer &amp; imprint
    </a>
  </div>
</body>

</html>