{{ define "title" }}Edit &mdash; TUM Events{{ end }}
{{ define "content" }}
<form action="" method="POST" class="p-2">
  {{ with .Error }}
  <div class="mb-3 text-gray-600 flex gap-2 items-center"><span class="flex items-center justify-center w-6 h-6 bg-gray-600 text-white font-bold">!</span>{{ . }}</div>
  {{ end }}
  <div class="grid grid-cols-12 gap-2">
    <label for="title" class="col-span-2">Title</label>
    <div class="col-span-10">
      <input name="title" type="text" placeholder="" value="{{ .Talk.Title }}" class="rounded border border-black w-full max-w-md" required>
    </div>
    <label for="url" class="col-span-2">Link</label>
    <div class="col-span-10">
      <input name="url" type="url" class="rounded border border-black w-full max-w-md" value="{{ .Talk.Link }}" placeholder="https://in.tum.de/">
    </div>
    <label for="body" class="col-span-2">Text</label>
    <div class="col-span-10">
      <textarea name="body" rows="5" class="rounded border border-black w-full max-w-md">{{ .Talk.Body }}</textarea>
    </div>
    <label for="category" class="col-span-2 truncate">Category</label>
    <div class="col-span-10">
      <select name="category" class="rounded border border-black w-full max-w-xs">
        {{ $tc := .Talk.Category }}
        {{ range .Categories }}
        <option value="{{ . }}" {{ if eq . $tc }}selected{{ end }}>{{ . }}</option>
        {{ end }}
      </select>
    </div>
    <label for="date" class="col-span-2">Date</label>
    <div class="col-span-10">
      <input name="date" type="datetime-local" value="{{ .Talk.Date | formdate }}" class="rounded border border-black w-full max-w-xs" required>
    </div>
    <label for="delete" class="col-span-2">Delete talk?</label>
    <div class="col-span-10">
      <input type="checkbox" name="delete">
    </div>
    <div class="col-span-full">
      <button role="submit" class="px-2 rounded border border-black bg-gray-200 font-mono">submit</button>
    </div>
  </div>
</form>
{{ end }}