{{ define "title" }}Login &mdash; TUM Talks{{ end }}
{{ define "content" }}
<form action="/login" method="POST" class="p-2">
  {{ with .Error }}
  <div class="mb-3 text-gray-600 flex gap-2 items-center"><span class="flex items-center justify-center w-6 h-6 bg-gray-600 text-white font-bold">!</span>{{ . }}</div>
  {{ end }}
  <div class="mb-3">To verify your identity, please enter your TUM identifier. You will receive an email with a login code afterwards.</div>
  <div class="flex gap-2 border-gray-300">
    <label for="uid">TUM User ID</label>
    <div class="flex-grow">
      <input name="uid" type="text" class="rounded border border-black w-full max-w-xs" placeholder="go42tum" required>
    </div>
  </div>
  <div class="mt-3">
    <button role="submit" class="px-2 rounded border border-black bg-gray-200 font-mono">login</button>
  </div>
</form>
{{ end }}