{{ define "title" }}Login &mdash; TUM Talks{{ end }}
{{ define "content" }}
<form action="/login?method=code" method="POST" class="p-2">
  <div class="mb-2">You should have received an email with a confirmation code. Please enter it below.</div>
  <div class="grid grid-cols-12 gap-2">
    <input type="hidden" name="key" value="{{ .Key }}">
    <label for="code" class="col-span-1">Code</label>
    <div class="col-span-11">
      <input name="code" type="text" class="rounded border border-black w-full max-w-xs" placeholder="123456" required>
    </div>
    <div class="col-span-full">
      <button role="submit" class="px-2 rounded border border-black bg-gray-200 font-mono">login</button>
    </div>
  </div>
</form>
{{ end }}