{{ define "title" }}Profile &mdash; TUM Events{{ end }}
{{ define "content" }}
<form action="/profile" method="POST" class="p-2">
  {{ .CSRFToken }}
  {{ with .Error }}
  <div class="mb-3 text-gray-600 flex gap-2 items-center"><span class="flex items-center justify-center w-6 h-6 bg-gray-600 text-white font-bold">!</span>{{ . }}</div>
  {{ end }}
  <div class="grid grid-cols-12 gap-2">
    <label for="delete" class="col-span-6 sm:col-span-2">delete all events?</label>
    <div class="col-span-auto">
      <input type="checkbox" name="delete">
    </div>
    <div class="col-span-full">
      <button role="submit" class="px-2 rounded border border-black bg-gray-200 font-mono">submit</button>
    </div>
  </div>
</form>
{{ end }}