{{ define "title" }}Submit &mdash; TUM Events{{ end }}
{{ define "content" }}
<form action="/submit" method="POST" class="p-2">
  {{ .CSRFToken }}
  {{ with .Error }}
  <div class="mb-3 text-gray-600 flex gap-2 items-center"><span class="flex items-center justify-center w-6 h-6 bg-gray-600 text-white font-bold">!</span>{{ . }}</div>
  {{ end }}
  <div class="grid grid-cols-12 gap-2">
    <label for="event-title" class="col-span-2">Title</label>
    <div class="col-span-10">
      <input id="event-title" name="title" type="text" placeholder="" class="rounded border border-black w-full max-w-md" required>
    </div>
    <label for="event-url" class="col-span-2">Link</label>
    <div class="col-span-10">
      <input id="event-url" name="url" type="url" class="rounded border border-black w-full max-w-md" placeholder="https://in.tum.de/">
    </div>
    <label for="event-body" class="col-span-2">Text</label>
    <div class="col-span-10">
      <textarea id="event-body" name="body" rows="5" class="rounded border border-black w-full max-w-md"></textarea>
    </div>
    {{ if .ImageUpload }}
    <label for="event-image-selector" class="col-span-2">Image</label>
    <div class="col-span-10" x-data="{ base64: '' }">
      <script>
        const convertToBase64 = file => new Promise((resolve, reject) => {
          let reader = new FileReader();
          reader.readAsBinaryString(file);
          reader.onload = () => resolve(btoa(reader.result));
          reader.onerror = reject;
        });
      </script>
      <input id="event-image-selector" type="file" accept="image/jpeg" x-on:change="convertToBase64($event.target.files[0]).then(result => base64 = result)">
      <input type="hidden" name="image" x-model="base64">
    </div>
    {{ end }}
    <label for="event-category" class="col-span-2 truncate">Category</label>
    <div class="col-span-10">
      <select id="event-category" name="category" class="rounded border border-black w-full max-w-xs">
        {{ range .Categories }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
      </select>
    </div>
    <label for="event-date" class="col-span-2">Date</label>
    <div class="col-span-10">
      <input id="event-date" name="date" type="datetime-local" class="rounded border border-black w-full max-w-xs" required>
    </div>
    <div class="col-span-full">
      <button role="submit" class="px-2 rounded border border-black bg-gray-200 font-mono">submit</button>
    </div>
  </div>
</form>
{{ end }}