{{ define "title" }}{{ .Talk.Title }} &mdash; TUM Events{{ end }}
{{ define "content" }}
<div class="pt-2 pb-4">
  <div class="flex gap-2 items-center">
    <div class="ml-9 sm:ml-10">
      <div class="">
        <a class="flex items-center hover:underline visited:text-gray-500"
           href="{{ if .Talk.Link }}{{ .Talk.Link }}{{ else }}/talk?id={{ .Talk.ID }}{{ end }}">
          {{ .Talk.Title }}
        </a>
      </div>
      <div class="text-sm text-gray-500 flex items-center flex-wrap gap-x-2">
        <span>{{ .Talk.Date | humandate }}</span>
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/filter?category={{ .Talk.Category }}">[{{ .Talk.Category }}]</a>
        {{ if eq .Talk.User .Login }}
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/edit?id={{ .Talk.ID }}">edit</a>
        {{ end }}
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/talk?id={{ .Talk.ID }}&format=ics">calendar</a>
      </div>
    </div>
  </div>
  <div class="mt-3 ml-9 sm:ml-10 flex text-gray-900 flex-col gap-2 talk-body mr-3">
    {{ if .Talk.ImageURL }}
    <img src="{{ .Talk.ImageURL }}">
    {{ end }}
    {{ if .Talk.Body }}
    <p>
      {{ .Talk.Body }}
    </p>
    {{ end }}
  </div>
</div>
{{ end }}