{{ define "title" }}TUM Events{{ end }}
{{ define "content" }}
{{ $login := .Login }}
<div class="py-2 flex gap-2 flex-col">
  {{ range $i, $t := .Talks }}
  <div class="flex gap-2">
    <div class="w-7 sm:w-8 flex-shrink-0 text-right text text-gray-500">{{ $i | inc }}.</div>
    <div class="flex flex-col">
      <div class="gap-1 leading-tight">
        <a class="hover:underline visited:text-gray-600 text-gray-900"
           href="{{ if $t.Link }}{{ $t.Link }}{{ else }}/talk?id={{ $t.ID }}{{ end }}">
          {{ $t.Title }}
        </a>
        {{ if $t.LinkDomain }}<a class="text-xs text-gray-500 hover:underline">({{ $t.LinkDomain }})</a>{{ end }}
      </div>
      <div class="text-sm text-gray-500 flex items-center gap-x-2 flex-wrap">
        <span class="text-xs">{{ $t.Date | humandate }}</span>
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/categories/{{ $t.Category }}">[{{ $t.Category }}]</a>
        {{ if $t.Body }}
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/talk?id={{ $t.ID }}">details</a>
        {{ end }}
        {{ if eq $t.User $login }}
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/edit?id={{ $t.ID }}">edit</a>
        {{ end }}
        |
        <a class="text-gray-500 text-xs hover:underline"
           href="/talk?id={{ $t.ID }}&format=ics">calendar</a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}